@model WallIT.Shared.DTOs.AccountDTO

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
</div>

<div class="form-group">
    <label asp-for="AccountType"></label>
    <input asp-for="AccountType" />
</div>

<div class="form-group">
    <label asp-for="Balance"></label>
    <input asp-for="Balance" />
</div>

