@model RegisterModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<form asp-controller="UserAccount" asp-action="Register" method="post">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="User.Name"></label>
        <input asp-for="User.Name" class="form-control" />
        <span asp-validation-for="User.Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" class="form-control" />
        <span asp-validation-for="User.Email"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <label asp-for="PasswordRe"></label>
        <input asp-for="PasswordRe" class="form-control" />
        <span asp-validation-for="PasswordRe"></span>
    </div>

    <button class="btn btn-primary">Register</button>

</form>