@model WallIT.Shared.DTOs.RecordDTO


<div class="form-group">
    <label asp-for="AccountId"></label>
    <input asp-for="AccountId" />
</div>

<div class="form-group">
    <label asp-for="RecordCategoryId"></label>
    <input asp-for="RecordCategoryId" />
</div>

<div class="form-group">
    <label asp-for="Currency"></label>
    <input asp-for="Currency" />
</div>

<div class="form-group">
    <label asp-for="Amount"></label>
    <input asp-for="Amount" />
</div>
<div class="form-group">
    <label asp-for="TransactionDateUTC"></label>
    <input asp-for="TransactionDateUTC" />
</div>



